@using Telia.MVC.Data
@model  Telia.MVC.Data.UserUpdateModel


<h1>Edit the data about the user</h1>

<h4>Do it wisely</h4>
<hr />

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group, pb-2 ">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

        </div>

        <div class="col-md-6">

            @if (Model.UserRoles.Count > 0)//if user belongs to at least one role
            {
                <div class="form-group ">
                    <label asp-for="UserRoles" class="control-label"></label>
                    <br />
                    @foreach (var item in Model.UserRoles)
                    {
                        <a class="btn btn-outline-primary" title="Remove from this role"> @item</a>
                    }
                </div>}

            <div class="form-group ">
                <label asp-for="Roles" class="control-label"></label>
                <select asp-for="Role" asp-items="Model.Roles" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="check" type="checkbox" asp-for="@Model.EmailConfirmed">
                    <label class="form-check-label" asp-for="@Model.EmailConfirmed">
                        User Email confirmed
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="check" type="checkbox" asp-for="@Model.PhoneNumberConfirmed">
                    <label class="form-check-label" asp-for="@Model.PhoneNumberConfirmed">
                        User Phone number confirmed
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="check" type="checkbox" asp-for="@Model.LockoutEnabled">
                    <label class="form-check-label" asp-for="@Model.LockoutEnabled">
                        Lockout mode enebled for the user
                    </label>
                </div>
            </div>

        </div>

        <input type="submit" value="Save" class="btn btn-primary btn-block" />

       

    </div>
   

</form>


<div>
    <a asp-action="Index">Back to List</a> <br />
    <a class="text-dark" asp-action="ChangePassword" asp-route-id="@Model.Id">Change users password</a>  
</div>

